<div class="navbar bg-neutral text-neutral-content">
  <div class="flex-1">
    <a routerLink="/notes" class="btn btn-ghost normal-case text-xl">daisyUI</a>
  </div>
  <div class="flex-none gap-2">
    <form 
      class="form-control"
    >
      <input
        type="text"
        placeholder="Search"
        class="input input-bordered"
        (keyup)="searchNote($event)"
      />
    </form>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
          />
        </div>
      </label>
    </div>
  </div>
</div>
